body{
    text-align:center;
    margin-top: 300px; /* отступ сверху */
    margin-left: 25px; /* отступ слева */
    margin-right: 20px; /* отступ справа */
    margin-bottom: 15px; /* отступ снизу */
         
}
h1{
    font-size: 60px
}